page-billinfo {


.banner{ /*container*/
	display: flex ;
	background-color: #1b242d;
	width: 100%;
	justify-content: center;
}

.bannerimage{
	width: 50%;
	height: 50%;
}

.billtitle{
	background-color: #348AA7;
}

.billtitle-text{
	margin: 0;
	position: relative;
	color: white;
	letter-spacing: 8px;
	font-size: 40px;
	font-weight: bold;
	font-family: "Karla";
}

.bannertext{ /*container*/
	background-color:  #354c7a;
	width: 100%;
	height: 80px;
}
.bannertext p{
	color: white;
	padding-top: 10px;
	padding-left: 20px;
	margin: 0;
	font-size: 50px;
	font-family: 'Karla';
	letter-spacing: 5px;
	text-align: center;
}

p{
	font-size: 18px;
}

.button.pulse{
	width: 200px;
	font-size: 20px;
}

.statusbox{
	width: 75%;
	height: 250px;
	background-color: white;
	background-size: cover;
	padding: 20px;
}

.statusbox img{
	
}

}
